@tailwind base;
@tailwind components;
@tailwind utilities;
html{
   background-color: rgb(54, 54, 54);
}
 body{
    /* background: linear-gradient( rgba(83, 83, 83, 0.79), rgba(39, 39, 39, 0.79)), url('/realtree.jpg') no-repeat center center fixed ; */
    background: linear-gradient( rgba(59, 36, 9, 0.79), rgba(136, 95, 50, 0.79)), url('/topo.jpg') no-repeat center center fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    
 }